.table-container {
  margin: 20px;
  overflow-x: auto;
  background-color: #0d0202d5;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.smaller-table {
  width: 70%; 
  margin: 20px auto 0;
}

.smaller-table th, .smaller-table td {
  padding: 8px; 
}

.action-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
}

.action-button:hover {
  background-color: #45a049;
}



tfoot button {
  margin: 5px;
}

.input-post {
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;

}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 50%;
  margin: 10% auto;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add-new-users-button {
  padding: 8px 12px;
  margin-right: 10px;
}
.cursor_table {
  cursor: pointer;
  
}
.cursor_table:hover {
  background-color: lightgray; 
}
.right-side-form {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 80vh;
  width: 300px; 
  background-color: #fff; 
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
}

  button {
    width: 200px; 
    background-color: #45a049;
  }
  .put-button {
    background-color: rgba(59, 227, 21, 0.799);
    color: black;
    padding: 10px;
    filter: brightness(70%);
    transition: filter 0.3s ease;
    margin-top: 10px; 
  }
  .close-button {
    background-color: rgb(234, 64, 7);
    color: black;
    padding: 10px;
    filter: brightness(70%);
    transition: filter 0.3s ease;
    margin-top: 10px; 
  }
  .delete-button {
    background-color: rgba(59, 227, 21, 0.799);
    color: black;
    padding: 10px;
    filter: brightness(70%);
    transition: filter 0.3s ease;
    margin-top: 10px; 
  }
  .delete-button:hover {
    background-color: #b6ff99; 
    cursor: pointer; 
  }