body {
  text-align: center;
  display: left;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, rgb(255, 0, 166));
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: rgb(10, 170, 34);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}